<!DOCTYPE html>
<html>
  <head>
    <title>{{fname}}'s Profile</title>
    <style>
      body {
        background-color: #b7e4c7;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      h1 {
        text-align: center;
        color: white;
      }
      h2 {
        text-align: center;
        color: white;
      }
    </style>
  </head>
  <body>
    <h1>Title: {{jobTitle}}</h1>
    <br>
    <h2>Salary: {{salary}}</h2>
  </body>
</html>
