<!DOCTYPE html>
<html>

<head>
  <title>FAQ - Puncakes Bakery</title>
</head>

<body>

  <header>
    <h1>Puncakes Bakery</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/aboutus">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/faq">FAQ</a></li>
      </ul>
    </nav>
  </header>

  <h2>Frequently Asked Questions</h2>

  <h2>Question 1</h2>
  <p>Q: Rye is your bakery named Puncakes if you guys barley have any puns?</p>
  <p>A: Because we wanted to have loafs of puns but are bad at coming up with them</p>

  <h2>Question 2</h2>
  <p>Answer to question 2 goes here.</p>

  <h2>Question 3</h2>
  <p>Answer to question 3 goes here.</p>

  <h2>Question 4</h2>
  <p>Answer to question 4 goes here.</p>

  <!-- additional questions and answers can be added as needed -->




</body>

</html>