<!DOCTYPE html>
<html>
  <head>
    <title>Puncakes Bakery</title>
  </head>
  <body>
    <h1>Welcome to Puncakes Bakery</h1>
    <ul>
      <li><a href="/products">Products</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/employee_signup">Employee Signup</a></li>
      <li><a href="/employee_login">Employee Login</a></li>
      {% if user_type == true %}
        <li><a href="/orders">Orders</a></li>
      {% endif %}
      {% if user_type == false %}
      <li><a href="/my_cart/">My cart</a></li>
      {% endif %}
    </ul>
  </body>
</html>
