<!DOCTYPE html>
<html>

<head>
  <title>Product Form</title>
  <style>
    body {
      background-color: #b7e4c7;
    }
      .center-box {
          margin: auto;
          max-width: 800px;
          background-color: #ffffff;
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          text-align: left;
        }
    }
  </style>
</head>

<body>
  <div class="center-box">
   <h1>New Product</h1>
   <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="qtyStock">Quantity in Stock:</label>
    <input type="number" id="qtyStock" name="qtyStock" required><br><br>

    <label for="price">Price:</label>
    <input type="money" id="price" name="price" required><br><br>

    <label for="expireDate">Expiration date:</label>
    <input type="date" id="expireDate" name="expireDate" required><br><br>

    <label for="nutritionFacts">Nutrition facts:</label>
    <input type="text" id="nutritionFacts" name="nutritionFacts" required><br><br>

    <label for="description">Description:</label>
    <textarea id="description" name="description" rows="10" cols="100" required></textarea><br><br>

    <input type="button" value="Add Product" onclick="submitForm()">
   <header>
        <nav class="title">
            <ul>
                <a href="/">Home</a>
                <a href="/products">Products Catalog</a>
                <a href="/aboutus">About Us</a>
                <a href="/contact">Contact Us</a>
                <a href="/faq">FAQ</a></li>
            </ul>
        </nav>
  </header>
    <footer>
        <p>&copy; Puncakes Bakery 2023</p>
    </footer>
  </div>
  <script>
    function submitForm() {
      // get form data
      var name = document.getElementById("name").value;
      var qtyStock = document.getElementById("qtyStock").value;
      var price = document.getElementById("price").value;
      var expireDate = document.getElementById("expireDate").value;
      var nutritionFacts = document.getElementById("nutritionFacts").value;
      var description = document.getElementById("description").value;

      // create data object
      var data = {
        "name": name,
        "qtyStock": qtyStock,
        "price": price,
        "expireDate": expireDate,
        "nutritionFacts": nutritionFacts,
        "description": description
      };

      // send data to server
      fetch('/new_product', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
        .then(function (response) {
          if (response.ok) {
            // redirect to products page
            window.location.replace("/products");
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    }
  </script>
</body>

</html>
